*,*::after,*::before{
    margin:0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.wrap{
    max-width: 1024px;
    margin: 0 auto; 
}
/***************************** NAV導覽 *****************************/
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4a4a;
}
.nav h1{
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
.nav h1 a{
    display: block;
    background-image: url("../img/logo_w.png");
    background-repeat: no-repeat;
    background-position:left center;
    margin-left: 20px;
}
.menu{
    display: flex;
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color:#fff;
    background-color: #4a4a4a;
    font-size: 24px;
}
.menu li a:hover{
    color: orange;
}
.nav .burger-menu{
    display: none;
    font-size: 24px;
    color: #fff;
}

@media (max-width: 768px){
    .nav{
        flex-wrap: wrap;
    }
    .nav .logo{
        width:100%;
    }
    .menu{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .menu li{
        width: 20%;
        text-align: center;
    }
    .menu li a{
        padding: 15px 0;
    }
}

@media (max-width:414px){
    .nav{
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu{
        width: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 100;

        max-height: 0;
        overflow:hidden;
        position: absolute;
        top: 42.5px;
        left: 0;
        right: 0;
        transition: .5s;
    }
    .menu li {
        width: 100%;
    }
    .menu li a{
        text-align: center;
        padding: 15px 0;
    }
    .nav .burger-menu{
        display: block;
        position: absolute;
        top: 7px;
        right: 10px;
        text-align: right;
    }
    .show-menu .menu{
        max-height: 290px;
    }
}

/***************************** BANNER *****************************/
.banner{
    width: 100%;
    position: relative;
}
.banner-txt{
    margin: 0 auto;
    position: absolute;
    /* top: 35%;
    left: 30%;
    bottom:35%;
    right: 30%; */
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-txt h2{
    padding: 15px 0;
    font-size: 1.5rem;
}
.banner-txt h2 .big{
    display: inline;
}
.banner .banner-small{
    display: none;
}

@media (max-width:768px){
    .banner-txt{
        top: 15%;
        left: 5%;
        bottom: 15%;
        right: 5%;
    }
    .banner-txt h2 .big{
        display: block;
    }
}
@media (max-width:414px){
    .banner .banner-small{
        display: block;
    }
    .banner .banner-big{
        display: none;
    }
    .banner-txt{
        top: 15%;
        left: 5%;
        bottom: 15%;
        right: 5%;
    }
    .banner-txt h2 .big{
        display: block;
    }
    .banner-txt h2{
        /* font-size: 36px; */
    }
}
/***************************** INTRO介紹 *****************************/
.intro{
    width: 100%;
    background-color: #efe9e7;
    padding-bottom: 50px;
}
.intro-txt h3{
    display: inline;
    position: relative;
}
.intro-txt{
    /* outline: auto; */
    text-align: center;
    padding: 50px 0 31px 0;
    line-height: 1.6;
}
.intro-txt h3:first-child:after{
    content: "";
    display: flex;
    border: .5px grey solid;
    width: 100px;
    /* margin-left: 60.5%; */
    top:24px;
    left:160px;
    position: absolute;
}
.intro-txt h3:first-child:before{
    content: "";
    display: flex;
    border: .5px grey solid;
    /* width: 10%;
    margin-left: 29%; */
    width: 100px;
    position: absolute;
    top: 24px;
    right: 160px
}

.intro .feature{
    display: flex;
    justify-content: space-around;
}
.intro .feature img{
    border-radius: 50%;
}
.intro li{
    width: 20.9%;
    text-align: center;
}
.feature li h3{
    margin-top: 20px;   
}
.feature li p{
    margin-top: 11px;
    text-align: left;
    color:#3D1101;
}


@media (max-width: 768px){
    .intro-txt h3:first-child:after{
        /* width: 15%;
        margin-left: 63.5%; */
        width: 80px;

    }
    .intro-txt h3:first-child:before{
        /* width: 15%;
        margin-left: 21%; */
        width: 80px;
    }
}

@media (max-width:414px){
    .feature{
        flex-direction: column;
        align-items: center;
    }
    .feature li{
        width: 50%;
    }

    .intro-txt h3:first-child:after{
        display: none;
    }
    .intro-txt h3:first-child:before{
        display: none;
    }
    .feature li p{
        margin-bottom: 30px;
        width: 115%;
    }
}

/***************************** CHEF *****************************/
.chef{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3D1101;
    width: 100%;
}
.chef img{
    margin-left: 42px;
    width: 50%;
}
.chef-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10px;
    margin-right: 100px;
    /* padding: 0 77px 0 25px; */
    color: #fff;
}
.chef-txt p{
    margin-bottom: 10px;
}
@media (max-width:768px){
    .chef img{
        margin-left: 10px;
    }
    .chef-txt{
        margin-right: 10px;
    }
}

@media (max-width:414px){
    .chef{
        flex-direction: column;
    }
    .chef img{
        width: 100%;
        margin-left: 0;
    }
    .chef-txt{
        width: 90%;
        margin: 10px 0 10px 0;
    }
    .chef-txt h3{
        margin: auto;
        width: 70%;
    }
    .chef-txt p {
        margin: auto;
        width: 70%;
    }
}


/***************************** COMMENT *****************************/
.comment{
    background-color: #efe9e7;
    color: #3D1101;

}
.comment h3{
    padding-top: 50px;
    text-align: center;

    font-size: 24px;
}
.comment .comment-avatar{
    margin: 30px 20px 0 20px;
    display: flex;
}
.comment .comment-avatar img{
    border-radius: 50%;
    width: 67px;
    height: 67px;
}
.comment-avatar li{
    display: flex;
}
.comment-avatar .avatar-txt{
    padding: 20px 0 0 20px;
}
.avatar-txt span{
    padding: 16px 0;
    float: right;
}
@media (max-width: 768px){
    .comment .comment-avatar{
        flex-direction: column;
    }
}
@media (max-width:414px){
    .comment{
        height: 100vh;
    }
    .comment .comment-avatar{
        flex-direction: column;
    }
    .comment-avatar .avatar-txt p{
        margin-top: 20px;
    }
}

/***************************** RESERVE *****************************/
.map{
    background-color: #f6f4f3;
}
.map h2{
    padding: 50px 0 38px 0;
    text-align: center;
    color: #3D1101;
}
.map form{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-bottom: 50px;
}
.map img{
    width: 50%;
}
.map .reserve{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 15px;
}
.reserve label{
    margin: 5px 15px ;
}
.map .reserve input{
    padding: 5px 10px;
}

.vege p{
    margin: 0 0 5px 15px;
}
.vege input{
    margin-right: 5px;
}
.vege label{
    margin-right: 0;
}

.reserve .reserve-btn{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    flex-grow: 1;
}
.reserve-btn a{
    display: block;
}
.cancel{
    margin-right: 11px;
    background-color: #a09e9e;
    width: 70px;
    padding: 6px 10px;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
.send{
    background-color: #f56c23;
    width: 70px;
    padding: 6px 10px;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.reserve input:focus{
    outline: none;
    background-color: #d0906b;
}
.reserve-btn a button:hover{
    background-color: #dfbe1d;
    color: black;
}
@media (max-width: 768px){
    .map form{
        flex-direction: column;
    }
    .map img{
        width: 100%;
    }
    .map .reserve{
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .map .reserve input{
        margin:0;
    }
    .map .reserve label{
        margin: 5px 0px ;
    }
        .vege p{
        margin: 10px 0 5px 0px;
    }
}
@media (max-width: 414px){
    .map form{
        flex-direction: column;
    }
    .map img{
        width: 100%;
    }
    .map .reserve{
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .map .reserve input{
        margin:0;
    }
    .map .reserve label{
        margin: 5px 0px ;
    }
    .vege p{
        margin: 10px 0 5px 0px;
    }
    .vege .nope{
        padding-left: 43px;
    }
}

/***************************** FOOTER *****************************/
.footer{
    width: 100%;
    background-color: #efe9e7;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* clear: both; */
    color: #3D1101;
}
.footer .about{
    width: 31.33333%;
}
.footer .about h2{
    margin-bottom: 10px;
}
.footer .contact{
    width: 31.33333%;
}
.footer .contact h2 {
    margin-bottom: 10px;
}

/* .footer .contact h2{
    margin: 0px 0;
} */

.footer .link{
    width: 31.33333%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer .link ol{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.link ol a{
    display: block;
    font-size: 1.6rem;
    margin-left: 20px;
    margin-top: 20px;
}
.fa-google-plus-g{
    color: #f55123;
}
.fa-square-twitter{
    color:skyblue;
}
.fa-square-facebook{
    color: rgb(22, 104, 158);
}
@media (max-width:768px){
    .footer{
        flex-direction: column;
    }
    .footer .about{
        width: 100%;
    }
    .footer .about h2{
        margin-bottom: 16px;
    }
    .footer .contact{
        width: 100%;
        margin-top: 20px;
    }
    .footer .contact h2{
        margin: 0 0 16px 0;
    }
    .footer .link {
        margin-top: 30px;
        width: 100%;
    }
    .link img{
        width: 90%;
    }
}

@media (max-width: 414px){
    .footer{
        flex-direction: column;
    }
    .footer .about{
        width: 100%;
    }
    .footer .about h2{
        margin-bottom: 16px;
    }
    .footer .contact{
        width: 100%;
        margin-top: 20px;
    }
    .footer .contact h2{
        margin: 0 0 16px 0;
    }
    .footer .link {
        margin-top: 30px;
        width: 100%;
    }
    .link img{
        width: 90%;
    }
}

/************************ CART購物車-左邊  ************************/
.cart{
    width: 100%;
    background-color: #EFE9E7;
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    color: #3D1101;
}
.side-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.side-menu h4{
    margin-left:18px ;
    margin-bottom: 16px;
    white-space:pre;
}
.side-menu li a{
    display: block;
    border-bottom: 1px solid grey;
    padding: 3px 0;
    color:#3D1101;
}
.side-menu li a:hover{
    background-color: brown;
    color: #fff;
}
@media (max-width: 768px){
    .cart .side-menu{
        width: 30%;
    }
}
@media (max-width:414px){
    .cart{
        flex-direction: column;
    }
    .cart .side-menu{
        width: 100%;
        align-items: flex-start;
    }
    .cart .side-menu h4{
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .cart .side-menu ul{
        width: 98%;
    }
    .cart .side-menu li {
        width: 97%;
        margin-left: 10px;
    }
}
/***************************** CART購物車-右上方  *****************************/
.cart-right{
    /* outline: auto; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 10px;
    flex-wrap: wrap;
}
.cart-right a .fa-cart-shopping:hover{
    color: #fff;
}
.cart-right .account-cart p:hover{
    color: #fff;
    font-weight: bold;
}
.cart-right-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-bar{
    display: flex;
    width: 64%;
    outline: auto;
}
.cart-right input{
    height: 32px;
    width: 100%;
    border: 2px solid brown;
    margin: 0;
}
.cart-right input:focus{
    outline: none;
    padding: 0 5px;
}
.search-bar button{
    background-color: brown;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    padding: 5px 5px;
    cursor:pointer;
}  
.account-cart{
    display:flex;
    margin: 5px 40px 0 0;
    position: relative;
}
.account-cart p:after{
    content: "";
    border-right: 1px solid gray;
    margin: 0 20px;
}
.account-cart .fa-cart-shopping{
    font-size: 1.2rem;
}
.account-cart a{
   color: brown;
}
.account-cart .number{
    position: absolute;
    top: -10px;
    right: -5px;
    color: #fff;
    background-color: orangered;
    width: 15px;
    border-radius: 50%;
    text-align: center;
}

@media (max-width: 768px){
    .cart-right{
        width: 80%;
    }

}

@media (max-width: 414px){
    .cart-right{
        width: 100%;
        flex-direction: column;
    }
    .cart-right .cart-right-container{
        flex-direction: column;
    }
    .cart .cart-right-container .search-bar{
        width: 100%;
        margin-top: 10px;
    }
    .search-bar input{
        width: 100%;
    }
    .account-cart{
        width: 100%;
        justify-content: flex-end;
        margin-top: 15px;
    }
}

/********************* CART購物車-漢堡菜單  ****************/

.online-order{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.online-order li{
    width: 30.33333%;
    margin: 26px 20px 30px 0;
    box-shadow: 0 3px 5px rgba(18, 17, 17, .2);
    position: relative;
}
.online-order .burger-info span::after{
    content: "";
    border-top: 1px solid #3D1101;
    width: 45%;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-left: 30%;
}
.popular-set{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right:0;
    background-color:yellow;
}

@media (max-width: 768px){
    .online-order .burger-info a{
        margin: 0;
    }
    .online-order{
        /* flex-direction: row; */
        width: 100%;
    }
    .online-order li{
        width: 42%;
    }
}
@media  (max-width:414px){
    .online-order{
        flex-direction: column;
        width: 100%;
    }
    .online-order li{
        width: 98%;
    }
    .online-order .burger-info span::after{
        width: 27%;
        margin-left: 39%;
    }
    .burger-info a{
        margin: 0;
    }
}


/*********** 愛心 ***********/

.online-order li .fa-heart{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    cursor:pointer;
}




.burger-info{
    padding: 10px 0;
    text-align: center;
}
.burger-info p{
    margin:10px 0;
    font-weight: bold;
    font-size: 20px;
}
.burger-info a{
    display: block;
    border: 2px solid #FF5E45;
    color: #FF5E45;
    margin: 0 10px;
    border-radius: 5px;
}
.burger-info a:hover{
    color:black;
    border-color: #fff;
    background-color: #fff;
}





/********************** LOGIN登入  *********************/
.login{
    width: 100%;
    text-align: center;
    background-color: #efe9e7;
}
.login-txt{
    padding-top: 50px;
    margin-bottom: 35px;
}
.login-txt h2{
    color: #3D1101;
    font-size: 48px
}
.login-txt h4{
    color: #3D1101;
    font-size: 20px;
}
.login-container{
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    box-shadow: 3px 3px 3px rgba(105, 104, 104, 0.3);
    position: relative;
    border-top: 3px solid orangered;
}
.login-container h4{
    align-self: center;
    margin: 15px 0;
}
.login-container label,input,span{
    margin-left: 15px;
}
.login-container input{
    margin-bottom: 15px;
    text-indent: 30px;
    padding: 2px 0;
    width: 88%;
}
.login-container input:focus{
    outline: none;
    background-color: #fff;
    background-color: #d0906b;
}
.login-container .forget{
    display: block;
    font-size: 12px;
    color: orangered;
    margin-top: -15px;
}
.login-container .fa-envelope{
    position: absolute;
    top:70px;
    left:25px;
}
.login-container .fa-lock{
    position: absolute;
    top:127px;
    left:25px;
}

@media(max-width: 768px){
    .login-container{
        /* width: 50%; */
    }
}
@media(max-width: 375px){
    .login-container{
        /* width: 40%; */
    }
}



.btn{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}
.btn a{
    margin: 30px 0 15px 0 ;
}
.btn button{
    padding: 5px 45px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn  a:first-child button{
    background-color: darkgray;
}
.btn  a:last-child button{
    background-color: orangered;
}
.btn a button:hover{
    background-color: #dfbe1d;
    color: black;
}

@media (max-width: 768px){
    .btn{
        /* flex-direction: column;
        justify-content:flex-start; */
    }
    .btn a{
        margin:  10px 0;
    }
}




/*********************** REGISTER註冊  ***********************/
.register{
    width: 100%;
    text-align: center;
    background-color: #efe9e7;
    padding-bottom: 20px;
}
.register-txt{
    padding-top: 50px;
    margin-bottom: 35px;
}
.register-txt h2{
    color: #3D1101;
    font-size: 48px;
}
.register-txt h4{
    color: #3D1101;
    font-size: 20px;
}

.register-container{
    margin: auto;
    width: 65%;
    border-top: 3px solid orangered;
    box-shadow: 3px 3px 3px rgba(105, 104, 104, 0.3);
}
.register-container h4{
    margin-top: 10px;
    color: #3D1101;
    font-weight: bold;
    font-size: large;
}
.condition-input{
    display: flex;
    margin-top: 15px;
}
.register-container .register-info{
    text-align: left;
    width: 49%;
    margin: 0 15px;
    line-height: 1.2;
    color: #3D1101;
}

@media (max-width:768px){
    .register-container{
        width: 98%;
    }
}
@media (max-width: 414px){
    .condition-input{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .register-Fill-In{
        margin-top: 20px;
    }
}
/******************* REGISTER註冊 表格填寫 *****************/
.register-container .register-Fill-In{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 51%;
    position: relative;
}
.register-Fill-In .fa-envelope{
    position: absolute;
    top: 30px;
    left: 10px;
}
.register-Fill-In input{
    width: 95%;
    margin-left: 0px;
    text-indent: 30px;
    margin-bottom: 15px;
    padding: 5px 0;
}
.register-Fill-In label{
    margin-bottom: 5px;
}
.register-Fill-In input:focus{
    outline: none;
    background-color: #d0906b;
}
@media (max-width: 414px){
    .register-Fill-In{
        margin-top: 20px;

    }
}


/******************* REGISTER註冊 LOCK圖示 **********************/
.register-Fill-In .fa-lock{
    position: absolute;
    top: 97px;
    left: 10px;
}
.password2 >.fa-lock {
    position: absolute;
    top: 140px;
    left: 10px;
}


.register-Fill-In .toLogin{
    display: block;
    font-size: 12px;
    color: orangered;
    padding:0;
    margin-left: -15px;
}


.register-btn{
    display: block;
    align-self: flex-end;
    margin: 10px 15px 10px 0;
}
.register-btn button{
    background-color: orangered;
    color: #fff;
    padding: 5px 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.register button:hover{
    background-color: #dfbe1d;
    color: black;
}
@media (max-width: 414px){
    .register-btn{
        display: block;
        align-self:center;
        margin: 10px 15px 10px 0;
    }
}